<!DOCTYPE html>
<html>
<head>
    <title>Hello jQuery</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="hello.js"></script>
    <link rel="stylesheet" href="plik.css">
</head>

<body>
<div>
    <p class="eur-bid">Bid rate is: </p>
    <p class="eur-ask">Ask rate is: </p>
</div>
<div>
    <p class="usd-bid">Bid rate is: </p>
    <p class="usd-ask">Ask rate is: </p>
</div>
<div>
    <p class="gold-price">The price of gold is: </p>
</div>
</body>
</html>